<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy_BlueDragon_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_BlueDragon_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Enemy_Knight_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Enemy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f2c8dff9d94bc5a3bebb5972584aa97:d3c20216d586bf9473d0c8429499e535:9792b3bc94f4f42809fc42a64c45764d$</string>
            <key>textureFileName</key>
            <string>Enemy.png</string>
        </dict>
    </dict>
</plist>
